html, body {
	margin: 0;
	padding: 0;
}

.button {
	border: 4px solid rgba(176, 218, 196, .71);
	height:	100px;
	width: 100px;
	margin:	50px;
	border-radius: 100px;


}

.button:hover {
	cursor: pointer;
	border: 4px solid rgba(176, 218, 196, .96);
}

.button:active {
	position: relative;
	top: 1px;
}

.dot-wrapper {
	/*border: 1px solid black;*/
	height: 0;
	width: 100%;
	margin-top: 50%;
	position: relative;
	transform: rotate(25deg);
	animation: dot-animation 1.5s linear infinite;
	opacity: 0;
}

.dot-wrapper.visible {
	opacity: 1;
}

.dot{
	height: 14px;
	width: 14px;
	top: -7px;
	left: -9px;
	border-radius: 14px;
	background-color: rgba(176, 218, 196, .71);
	position: absolute;
}

@keyframes dot-animation {
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}